.stats-modal {
  position: fixed;
  background-color: var(--background);
  padding: 4rem 0;
  box-shadow: 0 0 50px var(--foreground);
  z-index: 10000;
  max-width: 30vw;
}

@media (max-width: 800px) {
  .stats-modal {
    max-width: 90vw;
  }
}

.word-def {
  max-width: 70%;
  text-align: center;
}

.stat-box {
  width: 30%;
  padding: 1rem;
  background-color: var(--absent);
  color: white;
}

.stat-title {
  opacity: 0.8;
  text-align: center;
}

.newgame-button {
  position: relative;
  background-color: var(--correct);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  width: 30%;
  text-wrap: nowrap;
}

.newgame-button:hover {
  scale: 1.05;
  background-color: var(--present);
}
